.menu__title__container {
    color: white;
    margin-top: 1.5rem

}

.menu__title__container > div > h1 {
    margin-bottom: 15px ;
    font-size: 200px;
    font-family: 'Segoe Ui';
    display: flex;
    justify-content: center;
}

